<div class="col-xs-6 col-md-3">
	<div class="thumbnail">
	<span class="glyphicon glyphicon-star"></span>(<%=favorite.number%>) <span class="badge"><%=favorite.fizzbuzz%></span>
	<hr><center><%=remove_favorite(favorite.number)%></center>
	</div>
</div>
